<div class="column">
  <div class="card">
    <% if cusomer.image.present? %>
      <p>Image!</p>
    <% end %>
    <div class="card-content">
      <p class="title">

      </p>
      <p>Breed: </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Age:
      </p>
      <p class="card-footer-item">
        Legs:
      </p>
      <p class="card-footer-item">
        Speed:
      </p>
    </footer>
  </div>
</div>