<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', customers_index_path%>
      </a>

      <a class="navbar-item">
        <%= link_to 'Ordered(Alphabetically)', customers_ordered_path%>
      </a>

      <a class="navbar-item">
        <%= link_to 'Missing Email List', customers_missing_email_path%>
      </a>

  </div>
</nav>